.btn {
    padding: 10px;
    border: none;
    border-radius: 20px;
    outline: none;
    background: linear-gradient(180deg, #343096 0%, #A745E4 100%);
    border-radius: 60px;
    cursor: pointer;
    height: 50px;
    width: 150px;
    color: white;
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    margin-bottom: 0;
    color: #FFFFFF;
    
}